@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3 {
  font-weight: 700;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
	font-weight: 500;
	font-size: 16px;
}

h5 {
	font-weight: 300;
	font-size: 16px;
}

body {
  font-family: "Montserrat";
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.w-h-100 {
	width: 100%;
	height: 100%;
}

.j-c-c {
	justify-content: center;
}

.a-i-c {
	align-items: center;
}

.container {
  display: flex;
  justify-content: center;
	max-width: 80%;
	width: 100%;
	margin: 0 auto;
}

.main {
	background: url(../assets/images/Bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

.main-info {
	display: flex;
	width: 100%;
}

.main-info__blocks {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.main-info__block-text {
	font-size: 44px;
	font-weight: 500;
	max-width: 750px;
}

.main-info__block-buttons {
	margin-top: 50px;
}

.main-info__block-buttons-item {
	width: 320px;
	height: 80px;
	border-radius: 40px;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

#button-1 {
	font-weight: 700;
	margin-right: 40px;
	opacity: 0.9;
	color: white;
	background: linear-gradient(180deg, #409FFF 0%, #007FFF 100%);
	box-shadow: 0px 10px 10px rgba(0, 32, 64, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.25), inset 0px -2px 0px rgba(0, 32, 64, 0.1);
	transition: all 1s;
	-webkit-transition: all 1s;
}

#button-1:hover {
	opacity: 1;
}

#button-2 {
	font-weight: 500;
	color: black;
	border: 2px solid black;
	background-color: rgba(0,0,0,0);
}

.inner-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-button-text {
	color: white;
}

.block-buttons-item-icon {
	margin-left: 10px;
}

.advantages {
	height: 1200px;
	background-color: #E5E5E5;
}

.advantages-title {
	margin-top: 80px;
	font-weight: 600;
	font-size: 36px;
	text-align: center;
}

.advantages-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.advantages-list-item {
	width: 400px;
	height: 400px;
	background-color: #409FFF;
	margin: 20px 20px;
	border-radius: 15px;
}

#adv-1 {
	background: url(../assets/images/1.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-1:hover {
	background-size: 120% 120%;
}

#adv-2 {
	background: url(../assets/images/2.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-2:hover {
	background-size: 120% 120%;
}

#adv-3 {
	background: url(../assets/images/3.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-3:hover {
	background-size: 120% 120%;
}

#adv-4 {
	background: url(../assets/images/4.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-4:hover {
	background-size: 120% 120%;
}

#adv-5 {
	background: url(../assets/images/5.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-5:hover {
	background-size: 120% 120%;
}

#adv-6 {
	background: url(../assets/images/6.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: all .8s;
	-webkit-transition: all .8s;
}

#adv-6:hover {
	background-size: 120% 120%;
}


.map {
	height: 900px;
	background-color: #E5E5E5;
}

.map-title {
	font-weight: 600;
	font-size: 36px;
	text-align: center;
	height: 100px;
}

.map-img {
	width: 100%;
	height: 600px;
	background: url(../assets/images/Map.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.room-map {
	width: 100%;
	height: 800px;
	background-color: #E5E5E5;
}

.room-map-title {
	font-weight: 600;
	font-size: 36px;
	text-align: center;
	height: 100px;
}

.room-map-block {
	width: 100%;
	height: 480px;
	background-color: white;
	border-radius: 20px;
	align-items: center;
	padding: 40px;
}

.room-map-block__left {
	width: 50%;
	height: 100%;
}

.room-map-block__right {
	width: 50%;
	height: 100%;
	padding-bottom: 10px;
}

.room-map-block__right-container {
	background-color: #F2F9FF;
	height: 100%;
	width: 100%;
	border-radius: 20px;
}